@model ALM.Demo.Models.Home.IndexModel

<!DOCTYPE html>
<html>
    <head>
        <title>ALM.Demo</title>
    </head>
    <body>
        <h1>@Model.Message</h1>
        <h2>Version: @Model.Version</h2>
    </body>
</html>